.row
  .large-9.columns
    %h3 Get in Touch!
    %p
      We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day
      = succeed "." do
        %em all day
    .section-container.tabs{"data-section" => ""}
      %section.section
        %h5.title
          Contact sales directly
        %br/
        %a{:href => "mailto:foxhomes@clear.net"}
          %img{:src => "http://placehold.it/200x200&text=[portrait]"}>/
        %br/
        Imelda Trevino
        %br/
        361-438-2098
        %br/
        %br/
      %section.section
        %h5.title
          Send us a message
        .content{"data-slug" => "panel1"}
          %form
            .row.collapse
              .large-2.columns
                %label.inline Your Name
              .large-10.columns
                %input#yourName{:placeholder => "Jane Smith", :type => "text"}/
            .row.collapse
              .large-2.columns
                %label.inline Your Email
              .large-10.columns
                %input#yourEmail{:placeholder => "jane@smithco.com", :type => "text"}/
            %label What's up?
            %textarea{:rows => "4"}
            %button.radius.button{:type => "submit"} Submit
  .large-3.columns
    %h5 Map
    %p
      %a{"data-reveal-id" => "mapModal", :href => ""}
        %img{:src => "http://placehold.it/400x280"}/
      %br/
      %a{"data-reveal-id" => "mapModal", :href => ""} View Map
    %p
      5949 La Costa Dr.
      %br/
      Corpus Christi, TX 78414 USA 
      %br/
      Phone: (361) 994-2860 